.container {
    display: grid;
    padding: 10px;
    padding-top: 50px;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
}

.categorias {
}

/* @media only screen and (max-width: 480px) {
    .categorias {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .container {
        padding: 2vh;
        height: 100%;
        width: 100%;
        min-height: 100%;
    }
} */

/* @media only screen and (min-width: 768px){
    .categorias {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 200px;
        margin: auto;
    }

    .card {
        width: 350px;
    }
} */