.container {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
}

.categorias {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.adicionar {}